<div class="row radio-home">
    <label class="radio-inline check">
        <input type="radio" [checked]="flightService.flightType=='roundTrip'" (change)="setFlightType('roundTrip')">{{
        'FlightTypeSelect.RoundTrip' | translate }}
        <span class="radio2"></span>
    </label>
    <label class="radio-inline check">
        <input  type="radio" [checked]="flightService.flightType=='oneWay'" (change)="setFlightType('oneWay')">{{
        'FlightTypeSelect.OneWay' | translate }}
        <span class="radio2"></span>
    </label>
    <label class="radio-inline check">
        <input type="radio"[checked]="flightService.flightType=='multiCity'"(change)="setFlightType('multiCity')"> {{
         'FlightTypeSelect.MultiCity' | translate }}
        <span class="radio2"></span>
    </label>
</div>

    


<app-flight-round-trip *ngIf="flightService.flightType=='roundTrip'"></app-flight-round-trip>
<app-flight-one-way *ngIf="flightService.flightType=='oneWay'"></app-flight-one-way>
<app-flight-multi-city *ngIf="flightService.flightType=='multiCity'"></app-flight-multi-city>
