<div class="row radio-home">
  <label class="radio-inline check">
      <input name="inlineRadioOptions" id="inlineRadio1" type="radio" checked="" (change)="setFlightType('roundTrip')" value="option1"> Round Trip
      <span class="radio2"></span>
  </label>
  <label class="radio-inline check">
      <input name="inlineRadioOptions" id="inlineRadio2" type="radio"  value="option2" (change)="setFlightType('oneWay')" > One Way
      <span class="radio2"></span>
  </label>
  <label class="radio-inline check">
      <input name="inlineRadioOptions" id="inlineRadio3" type="radio" value="option3" (change)="setFlightType('multiCity')" > Multi City
      <span class="radio2"></span>
  </label>
</div>