<div class="home-img">
  <app-menu-links></app-menu-links>
  <app-header></app-header>

</div>

<div class="row" style="margin-top:30px;">

  <div id="left-details">
    <div class="row">
      <div class="col-md-2">
          <div class="feature-container">
              <div class="feature-title">
                  Add<br>Features
              </div>
              
              <div class="row">
                      <button class="btn btn-feature-red"><img src="../assets/img/hotels.png"><br>Add Hotel</button>
              </div>
              <div class="row">
                      <button class="btn btn-feature-green"><img src="../assets/img/flight.png"><br>Add flight</button>
              </div>
              <div class="row">
                      <button class="btn btn-feature-orange"><img src="../assets/img/car.png"><br>Add car</button>
              </div>
              <div class="row">
                      <button class="btn btn-feature-cyan"><img src="../assets/img/activities.png"><br>Add<br>activities</button>
              </div>
          </div>
      </div>
      <div class="col-md-10">
        <h3 class="dark-gray">Review your trip</h3>
        <p class="blue">Nice Job! You picked one of our cheapest flights </p>
        <div class="result-container">
          <div class="row">
       <form>
            <div *ngFor="let passenger of flightservice.PassengerViewModel; let i=index">
              <div class="col-md-12">
                <a type="button" class="btn " (click)="passenger.isCollapsed = !passenger.isCollapsed"
                  [attr.aria-expanded]="!passenger.isCollapsed" aria-controls="collapseBasic" style="width:100%; padding: 15px;"><span
                    class="fl blue"> <b *ngIf="flightservice.numberOfChilds <= i+1">Passenger{{i+1}} </b>
                  </span> <span class="glyphicon fr drop-arrow" [class.glyphicon-menu-up]="!passenger.isCollapsed"
                    [class.glyphicon-menu-down]="passenger.isCollapsed" aria-hidden="true"></span>
                </a>



                <div id="collapseBasic" [collapse]="!passenger.isCollapsed" class="card card-block card-header">
                  <div class="form-group col-md-4">

                    <ngx-select-dropdown [multiple]="false" required name="title{{i}}"  #title="ngModel"  [(ngModel)]="passenger.Title" [config]="config" [options]="titleOptions"></ngx-select-dropdown>
                    <div *ngIf="(title.invalid && (title.dirty || title.touched))|| passenger.Title=='' "
                    class="alert alert-danger">
                  <div *ngIf="title.errors.required">
                      Passanger Title is required.
                  </div>
                </div>
                  </div>
                  <div class="form-group col-md-4">

                    <input [(ngModel)]="passenger.FirstName" name="FirstName{{i}}" #FirstName="ngModel"  required class="form-control" placeholder="First name " > 
                  
                    <div *ngIf="(FirstName.invalid && (FirstName.dirty || FirstName.touched)) || passenger.FirstName==''"
                    class="alert alert-danger">
                
                  <div *ngIf="FirstName.errors.required">
                      FirstName is required.
                  </div>
                
                </div>
                  </div>

                  <div class="form-group col-md-4">
                    <input [(ngModel)]="passenger.LastName" name="LastName{{i}}" #LastName="ngModel"  required class="form-control" placeholder="Last name">
                    <div *ngIf="(LastName.invalid && (LastName.dirty || LastName.touched))|| passenger.LastName==''"
                    class="alert alert-danger">
                
                  <div *ngIf="LastName.errors.required">
                    LastName is required.
                  </div>
                
                </div>
                  </div>

                  <div *ngIf="i==0 && this.flightservice.flightDetails.offerConfigurationField.contactDetailsField.requiredField; else EmailNotRequiredTemp">
                    <div class="form-group col-md-12">
                      <input [(ngModel)]="passenger.Phone" class="form-control" name="Phone{{i}}" #Phone="ngModel" required  placeholder="Phone number">
                      <div *ngIf="(Phone.invalid && (Phone.dirty || Phone.touched)) || passenger.Phone==''"
                      class="alert alert-danger">
                  
                    <div *ngIf="Phone.errors.required">
                      Email is required.
                    </div>
                  </div>
  
                    </div>
                      <div class="form-group col-md-12">
                        <input [(ngModel)]="passenger.Email"  name="Email{{i}}" #Email="ngModel"  required  class="form-control" placeholder="Email">
                        <div *ngIf="(Email.invalid && (Email.dirty || Email.touched))|| passenger.Email==''"
                        class="alert alert-danger">
                    
                      <div *ngIf="Email.errors.required">
                        Phone is required.
                      </div>
                    
                    </div>
                      </div>
                  </div>
                  <ng-template #EmailNotRequiredTemp> 
                    <div class="form-group col-md-12">
                      <input [(ngModel)]="passenger.Phone" class="form-control" name="Phone{{i}}"   placeholder="Phone number">
                  </div>
  
            
                      <div class="form-group col-md-12">
                        <input [(ngModel)]="passenger.Email"  name="Email{{i}}"   class="form-control" placeholder="Email">

                      </div>
                  </ng-template>
                 


                  <div class="form-group  col-md-3 ">
                    <input type="text" [(ngModel)]="passenger.BirthDate" required name="Date{{i}}"  #Date="ngModel"  placeholder="BirthDate"
                      class="form-control" bsDatepicker>
                      <div *ngIf="(Date.invalid && (Date.dirty || Date.touched))|| passenger.BirthDate==''"
                        class="alert alert-danger">
                    
                      <div *ngIf="Date.errors.required">
                        BirthDate is required.
                      </div>
                    
                    </div>

                      
                  </div>
                  <div class="form-group col-md-4">
                    <ngx-select-dropdown  required name="Type{{i}}" #passgType="ngModel"  [multiple]="false" [(ngModel)]="passenger.Type" [config]="config2" [options]="typeOptions"></ngx-select-dropdown>
                    <div *ngIf="(passgType.invalid && (passgType.dirty || passgType.touched))|| passenger.Type==''"
                    class="alert alert-danger">
                
                
                      Passanger Title is required.
                
                
                </div>
                  </div>


                  <!-- If “IdentificationDocument” has attribute “Required” value “true” -->

                   <div *ngIf="this.flightservice.flightDetails.offerConfigurationField.identificationDocumentField.requiredField">
                 
                    <div class="form-group col-md-4">

                      <ngx-select-dropdown [multiple]="false" [(ngModel)]="passenger.IdentificationDocument.Type"
                        [config]="config3" [options]="identificationDocumentTypeOptions"></ngx-select-dropdown>
                    </div>

                    <div class="form-group col-md-12">
                      <input [(ngModel)]="passenger.IdentificationDocument.Number" class="form-control" placeholder="The number of the identification document">
                    </div>

                    <div class="form-group  col-md-3 ">
                      <input type="text" [(ngModel)]="passenger.IdentificationDocument.ExpiryDate" name="Date" #Date
                        placeholder="ExpiryDate" class="form-control" bsDatepicker>
                    </div>

                    <div class="form-group col-md-12">
                      <input [(ngModel)]="passenger.IdentificationDocument.IssuingCountry" class="form-control"
                        placeholder="IssuingCountry">
                    </div>

                    <div class="form-group col-md-12">
                      <input [(ngModel)]="passenger.IdentificationDocument.PaxNationality" class="form-control"
                        placeholder="PaxNationality">
                    </div>
                  
                  </div>
                  <div class="row" style="padding:15px;">
                    <div class="col-md-12">
                      <label class="check">
                        <p class="orange"> Frequent Traveller Cards </p>
                        <input type="checkbox" (change)="passenger.haveFrequent = !passenger.haveFrequent " >
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>

                  <!-- if have Frequent Traveller Cards -->
                  <div *ngIf="passenger.haveFrequent">
                    <div class="form-group col-md-12">
                      <input [(ngModel)]="passenger.FrequentTravellerCards.AirlineCode" class="form-control"
                        placeholder="Frequent traveller card airline code.">
                    </div>

                    <div class="form-group col-md-12">
                      <input [(ngModel)]="passenger.FrequentTravellerCards.Number" class="form-control" placeholder="Frequent traveller card number.">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>
          </div>


          <div class="row" style="padding:15px;">
            <div class="col-md-12">
              <h5>Seat selections are requested from the airline, but cannot be guaranteed.</h5>

              <button type="button" class="btn btn-orange" (click)="openModalWithClass(template)">Seat preference</button>
              <br>
        
              <ng-template #template>

                <div class="modal-header">
                  <h4 class="modal-title pull-left">Seat preference</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-8">
                      <h4 class="blue">Select your Seat</h4>
                      <div class="form-group">
                          <ngx-select-dropdown [multiple]="false" [(ngModel)]="selectedSeat"
                          [config]="config4" [options]="seatOptions" (change)="SetPassengerSeat()"></ngx-select-dropdown>
                      </div>
                      <div class="plane-iframe"></div>
                    </div>
                    <div class="col-md-4 borderd-left">
                        
                      <h4 class="blue" >Passenger {{PassengerNumber}}</h4>
                      <p>When you're traveling with a companion. Airlines often book middle seats last, so there's a
                        better chance of ending up with an open middle seat when one of you is booked on the window and
                        the other on the aisle. If you don't want to get bumped by </p>
                      <button type="button"  (click)="NextPassanger()" class="btn btn-orange btn-block">
                        Next
                      </button>
                      <button type="button" class="btn btn-orange btn-block" (click)="PreviuosPassanger()">
                        Previous
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>

       

            </div>
          </div>
         
        
          <div class="row" style="padding:15px;">

            <div class="col-md-12">
              <h4 class="blue"><b>Comments</b></h4>
              
                  <div class="form-group col-md-12">
                      <textarea class="form-control" rows="3" placeholder="Comments"></textarea>
              </div>
              <p>Please contact the airline to confirm special assistance requests.</p>
            </div>
          </div>

          <div class="row" style="padding:15px;">

            <div class="col-md-12">
              <label class="check">
                <p class="dark-gray">
                  By selecting to complete this booking I acknowledge that I have read and accept the <a class="orange">Terms
                    of Use</a> Opens in a new window. and <a class="orange">Privacy Policy</a> Opens in a new window.
                  and Government Travel Advice Opens in a new window..

                </p>
                <input type="checkbox" required checked="checked" [(ngModel)]="this.flightservice.acceptTerms">
                <span class="checkmark"></span>
              </label>

            </div>
          </div>

          <div class="row borderd-top" style="padding:15px;">

            <div class="col-md-12">
              <h4 class="blue"><b>How would you like to pay? </b></h4>

              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Cardholder name*">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Debit/Credit card number*">
              </div>

            </div>
          </div>
          <div class="row">

            <div class="col-md-12">
              <h4 class="blue" style="padding:0 15px;"><b>Expiration date* </b></h4>
              <div class="form-group col-md-6">
                <select class="form-control ">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <select class="form-control ">
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>

                </select>
              </div>
              <div class="col-lg-11">
                <div class="form-group">
                  <input type="email" class="form-control " id="exampleInputEmail1" placeholder="Debit/Credit card number*">
                </div>
              </div>
              <div class="col-lg-1">
                <img src="../assets/img/card.png" style="width:45px;">
              </div>


            </div>
          </div>
         
        </div>
      </div>
    </div>



  </div>

  <app-flight-trip-summary></app-flight-trip-summary>

</div>
<app-footer></app-footer>