

<div class="mount">
    <img src="../assets/img/Mount.png">
    <h2>CHOOSE YOUR PACKAGES</h2>
    <h4 class="orange">DISCOVER TRAVEL THAT STIRS YOUR SOUL</h4>
  </div>
  
  
  <div class="container">
   
    <div class="col-sm-4">
      <div class="col-md-12 padding-15-0">
        <div class="hover02">
          <figure><img src="../assets/img/p1.jpg" /></figure>
          <div class="white thum-text2">
              <div class="row" style="margin:0;">
                <h3 ><span class="fl">W Koh Samui </span ><span class="fr orange">$ 370</span> </h3>
              </div>
              <p>Koh Samui, Thailand</p>
              <div class="orange">
                  <rating name="rate" [(ngModel)]="rate" max="5" [readonly]="isReadonly"></rating>
                  
                   <span class="white" style="margin-left:20px;">( 182 Reviews )</span>
              </div>
              <p>
                  Duis sed nunc augue. Morbi ut viverra arcu. Suspendisse ultricies ipsum turpis, in pharetra lacus consequat id. sodales, arcu non tempus blandit, diam orci rutrum libero, in pharetra lorem magna id tortor
              </p>
                  <a href="#" class="white">View more</a>
                  <div class="sm-line"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12 padding-15-0">
          <div class="hover02">
              <figure class="figure"><img src="../assets/img/p2.jpg" /></figure>
              <div class="white thum-text2">
                  <div class="row" style="margin:0;">
                    <h3 ><span class="fl">W Koh Samui </span ><span class="fr orange">$ 370</span> </h3>
                  </div>
                  <p>Koh Samui, Thailand</p>
                  <div class="orange">
                      <rating name="rate" [(ngModel)]="rate" max="5" [readonly]="isReadonly"></rating>
                      
                       <span class="white" style="margin-left:20px;">( 182 Reviews )</span>
                  </div>
                  <p>
                      Duis sed nunc augue. Morbi ut viverra arcu. Suspendisse ultricies ipsum turpis, in pharetra lacus consequat id. sodales, arcu non tempus blandit, diam orci rutrum libero, in pharetra lorem magna id tortor
                  </p>
                      <a href="#" class="white">View more</a>
                      <div class="sm-line"></div>
              </div>
            </div>
      </div>
      <div class="col-md-12 padding-15-0">
          <div class="hover02">
              <figure class="figure"><img src="../assets/img/p2.jpg" /></figure>
              <div class="white thum-text2">
                  <div class="row" style="margin:0;">
                    <h3 ><span class="fl">W Koh Samui </span ><span class="fr orange">$ 370</span> </h3>
                  </div>
                  <p>Koh Samui, Thailand</p>
                  <div class="orange">
                      <rating name="rate" [(ngModel)]="rate" max="5" [readonly]="isReadonly"></rating>
                      
                       <span class="white" style="margin-left:20px;">( 182 Reviews )</span>
                  </div>
                  <p>
                      Duis sed nunc augue. Morbi ut viverra arcu. Suspendisse ultricies ipsum turpis, in pharetra lacus consequat id. sodales, arcu non tempus blandit, diam orci rutrum libero, in pharetra lorem magna id tortor
                  </p>
                      <a href="#" class="white">View more</a>
                      <div class="sm-line"></div>
              </div>
            </div>
      </div>


    </div>
    <div class="col-sm-4">
     
      <div class="col-md-12 padding-15-0">
          <div class="hover02">
              <figure class="figure"><img src="../assets/img/p2.jpg" /></figure>
              <div class="white thum-text2">
                  <div class="row" style="margin:0;">
                    <h3 ><span class="fl">W Koh Samui </span ><span class="fr orange">$ 370</span> </h3>
                  </div>
                  <p>Koh Samui, Thailand</p>
                  <div class="orange">
                      <rating name="rate" [(ngModel)]="rate" max="5" [readonly]="isReadonly"></rating>
                      
                       <span class="white" style="margin-left:20px;">( 182 Reviews )</span>
                  </div>
                  <p>
                      Duis sed nunc augue. Morbi ut viverra arcu. Suspendisse ultricies ipsum turpis, in pharetra lacus consequat id. sodales, arcu non tempus blandit, diam orci rutrum libero, in pharetra lorem magna id tortor
                  </p>
                      <a href="#" class="white">View more</a>
                      <div class="sm-line"></div>
              </div>
            </div>
      </div>
      <div class="col-md-12 padding-15-0">
          <div class="hover02">
              <figure class="figure"><img src="../assets/img/p2.jpg" /></figure>
              <div class="white thum-text2">
                  <div class="row" style="margin:0;">
                    <h3 ><span class="fl">W Koh Samui </span ><span class="fr orange">$ 370</span> </h3>
                  </div>
                  <p>Koh Samui, Thailand</p>
                  <div class="orange">
                      <rating name="rate" [(ngModel)]="rate" max="5" [readonly]="isReadonly"></rating>
                      
                       <span class="white" style="margin-left:20px;">( 182 Reviews )</span>
                  </div>
                  <p>
                      Duis sed nunc augue. Morbi ut viverra arcu. Suspendisse ultricies ipsum turpis, in pharetra lacus consequat id. sodales, arcu non tempus blandit, diam orci rutrum libero, in pharetra lorem magna id tortor
                  </p>
                      <a href="#" class="white">View more</a>
                      <div class="sm-line"></div>
              </div>
            </div>
      </div>
      <div class="col-md-12 padding-15-0">
          <div class="hover02">
              <figure><img src="../assets/img/p1.jpg" /></figure>
              <div class="white thum-text2">
                  <div class="row" style="margin:0;">
                    <h3 ><span class="fl">W Koh Samui </span ><span class="fr orange">$ 370</span> </h3>
                  </div>
                  <p>Koh Samui, Thailand</p>
                  <div class="orange">
                      <rating name="rate" [(ngModel)]="rate" max="5" [readonly]="isReadonly"></rating>
                      
                       <span class="white" style="margin-left:20px;">( 182 Reviews )</span>
                  </div>
                  <p>
                      Duis sed nunc augue. Morbi ut viverra arcu. Suspendisse ultricies ipsum turpis, in pharetra lacus consequat id. sodales, arcu non tempus blandit, diam orci rutrum libero, in pharetra lorem magna id tortor
                  </p>
                      <a href="#" class="white">View more</a>
                      <div class="sm-line"></div>
              </div>
            </div>
      </div>


    </div>
    <div class="col-sm-4">
      <div class="col-md-12 padding-15-0">
          <div class="hover02">
              <figure><img src="../assets/img/p1.jpg" /></figure>
              <div class="white thum-text2">
                  <div class="row" style="margin:0;">
                    <h3 ><span class="fl">W Koh Samui </span ><span class="fr orange">$ 370</span> </h3>
                  </div>
                  <p>Koh Samui, Thailand</p>
                  <div class="orange">
                      <rating name="rate" [(ngModel)]="rate" max="5" [readonly]="isReadonly"></rating>
                      
                       <span class="white" style="margin-left:20px;">( 182 Reviews )</span>
                  </div>
                  <p>
                      Duis sed nunc augue. Morbi ut viverra arcu. Suspendisse ultricies ipsum turpis, in pharetra lacus consequat id. sodales, arcu non tempus blandit, diam orci rutrum libero, in pharetra lorem magna id tortor
                  </p>
                      <a href="#" class="white">View more</a>
                      <div class="sm-line"></div>
              </div>
            </div>
      </div>
      <div class="col-md-12 padding-15-0">
          <div class="hover02">
              <figure class="figure"><img src="../assets/img/p2.jpg" /></figure>
              <div class="white thum-text2">
                  <div class="row" style="margin:0;">
                    <h3 ><span class="fl">W Koh Samui </span ><span class="fr orange">$ 370</span> </h3>
                  </div>
                  <p>Koh Samui, Thailand</p>
                  <div class="orange">
                      <rating name="rate" [(ngModel)]="rate" max="5" [readonly]="isReadonly"></rating>
                      
                       <span class="white" style="margin-left:20px;">( 182 Reviews )</span>
                  </div>
                  <p>
                      Duis sed nunc augue. Morbi ut viverra arcu. Suspendisse ultricies ipsum turpis, in pharetra lacus consequat id. sodales, arcu non tempus blandit, diam orci rutrum libero, in pharetra lorem magna id tortor
                  </p>
                      <a href="#" class="white">View more</a>
                      <div class="sm-line"></div>
              </div>
            </div>
      </div>
      <div class="col-md-12 padding-15-0">
          <div class="hover02">
              <figure class="figure"><img src="../assets/img/p2.jpg" /></figure>
              <div class="white thum-text2">
                  <div class="row" style="margin:0;">
                    <h3 ><span class="fl">W Koh Samui </span ><span class="fr orange">$ 370</span> </h3>
                  </div>
                  <p>Koh Samui, Thailand</p>
                  <div class="orange">
                      <rating name="rate" [(ngModel)]="rate" max="5" [readonly]="isReadonly"></rating>
                      
                       <span class="white" style="margin-left:20px;">( 182 Reviews )</span>
                  </div>
                  <p>
                      Duis sed nunc augue. Morbi ut viverra arcu. Suspendisse ultricies ipsum turpis, in pharetra lacus consequat id. sodales, arcu non tempus blandit, diam orci rutrum libero, in pharetra lorem magna id tortor
                  </p>
                      <a href="#" class="white">View more</a>
                      <div class="sm-line"></div>
              </div>
            </div>
      </div>


    </div>

  




    
  </div>
  
  