<form #searchForm="ngForm" autocomplete="off">
  <div class="row">
      <div class="form-group  col-md-2 padding-rl5">
          <input autocomplete="off" [(ngModel)]="flightService.oneWayModel.OriginCity" name="OriginCity" #OriginCity [typeahead]="citiesFrom" typeaheadOptionField="Name"
            class="form-control" placeholder="{{ 'FlightOneWay.From' | translate }}" [typeaheadOptionsLimit]="7"
            [typeaheadMinLength]="0" (keyup)="updateCitiesFrom($event)" (typeaheadOnSelect)="selectCity($event,'from')">
        </div>
    
        <div class="form-group  col-md-2 padding-rl5">
          <input autocomplete="off" [(ngModel)]="flightService.oneWayModel.DestinationCity" name="DestinationCity" #DestinationCity [typeahead]="citiesTo" typeaheadOptionField="Name" class="form-control"
            placeholder="{{ 'FlightOneWay.To' | translate }}" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0"
            (keyup)="updateCitiesTo($event)" (typeaheadOnSelect)="selectCity($event,'to')">
        </div>

    <div class="form-group  col-md-3 padding-rl5">
      <input autocomplete="off" readonly type="text" [(ngModel)]="flightService.oneWayModel.Date" name="Date" #Date placeholder="{{ 'FlightOneWay.DepartingTime' | translate }}" class="form-control" bsDatepicker>
    </div>

    <div class="form-group  col-md-3 padding-rl5">

        <input type="text" class="form-control" readonly placeholder="{{ 'FlightOneWay.AdultEconomy' | translate }}"
          [value]="flightService.oneWayModel.searchOption" placement="bottom" [popover]="popTemplate" [outsideClick]="true">
  
        <ng-template #popTemplate>
          <div class="form-group">
            <label>{{ 'FlightOneWay.Adult' | translate }}</label>
            <input autocomplete="off" type="number" class="form-control plus" (change)="changeOption()" name="Adult"
              [(ngModel)]="flightService.oneWayModel.Adult" #Adult max="9" min="1" (keyup)="checkE($event.target.value,'adult')" placeholder="0">
          </div>
          <div class="form-group">
            <label> {{ 'FlightOneWay.Children' | translate }}</label>
            <input autocomplete="off" type="number" class="form-control plus" (change)="changeOption()" name="Child"
              [(ngModel)]="flightService.oneWayModel.Children" (keyup)="checkE($event.target.value,'child')" #Child max="9" min="0" placeholder="0">
          </div>
          <div class="form-group">
            <label> {{ 'FlightOneWay.Class' | translate }}</label>
            <select input class="form-control" (change)="changeOption()" name="Class" [(ngModel)]="flightService.oneWayModel.Class"
              #Class="ngModel">
              <option *ngFor="let class of flightService.Classes" [value]="class">
                {{class}}
              </option>
            </select>
          </div>
        </ng-template>
  
      </div>

      <div class="form-group  col-md-2 padding-rl5">
        <button type="submit" (click)="search()" class="btn btn-orange" style="width:100%;">{{
          'FlightOneWay.Search' |
          translate }}</button>
      </div>
    </div>
  
    <div class="row" style="padding:15px;">
      <label class="check">
        {{ 'FlightOneWay.NoneStopFlight' | translate }}
        <input type="checkbox" name="DirectFlight" #DirectFlight [(ngModel)]="flightService.oneWayModel.DirectFlight"  >
        <span class="checkmark"></span>
      </label>
  
    </div>
</form>