<div class="container" style="margin-top:70px;">
  <div class="row row-flex">
    <div class="col-md-6 login-pic padding-0">
      <div class="text-center" style="margin-top:50px;">
<img src="../../../../assets/img/Tour To logo.png">

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2  home-head1-container">
            <h1 class="home-head1 orange">Welcome To Tour To </h1>
          </div>

          <div class="col-xs-8 col-xs-offset-2 home-head1-container">
            <h1 class="home-head2 orange">Experience the freedom </h1>
          </div>
          <div class="col-xs-8 col-xs-offset-2 text-center ">
            <h3 class="orange small-head">A PLACE TO EXPERIENCE AND ENJOY THE LIFE </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 padding-0">
      <div class="login-container">
        <h3 class="orange"> Sign in now</h3>
        <h4 class="blue"> To share your adventure & follow others</h4>
        <div class="row" style="margin-top:20px;">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password">
          </div>
        </div>
        <div class="row">

          <div class=" float-left">
            <label class="check-inline check check2">
              <input type="checkbox" > Remember me
              <span class="checkmark"></span>
            </label>

          </div>
          <a href="#" class="float-right"> Forgot password</a>
        </div>

        <div class="row" style="margin-top:20px;">
          <button style="margin-top:15px;" type="button" class="btn btn-orange btn-block">Login</button>
          <button style="margin-top:15px;" type="button" class="btn btn-face btn-block">Login with facebook</button>
          <button style="margin-top:15px;" type="button" class="btn btn-google btn-block">Login with google +</button>
          <button style="margin-top:15px;" type="button" class="btn btn-gray btn-block">Create new account</button>
        </div>

      </div>
    </div>
  </div>
</div>