<div class="home-img">

  <app-menu-links></app-menu-links>
  <app-header></app-header>

</div>

<div class="row" style="margin-top:30px;">

  <div id="left-details">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <h3 class="dark-gray">Review your trip</h3>
        <p class="blue">Nice Job! You picked one of our cheapest flights </p>
        <div class="result-container">
          <div class="flite-container">
            <div class="col-md-12  padding-0  ">
              <div *ngFor="let Route of this.flightservice.selectedItenartyData[0].Routes; let i = index">
                <div *ngIf="this.flightservice.flightType=='multiCity';else   OneWayAndRoundTrip">
                  <div class="row padding-0 ">
                    <div class="row margin-0  overflow" style="margin-bottom: -5px;">
                      <div *ngIf="i=='0'">
                        <div class="diagonal2">
                          <h4 style="margin: 3px;"><img src="../assets/img/fly from  copy.png"> Depature</h4>
                        </div>
                      </div>
                    </div>

                    <div class="itenery borderd-bottom">


                      <div class="row ">
                        <div class="col-sm-2 col-xs-6 borderd-right flight-logo">
                          <img src={{Route.Segment[0].Carrier.MarketingImage}} class="img-box-result">
                        </div>
                        <div class="col-sm-3 col-xs-6" style="padding: 25px 0 0 15px;">
                          <h4 class="dark-gray tight"> {{Route.Segment[0].Origin.Airport.City}}</h4>
                        </div>
                        <div class="col-sm-2 col-xs-6" style="padding:15px;">
                          <h5 class="dark-gray tight">{{Route.Segment[0].Origin.Date | date}}</h5>
                          <h5 class="dark-gray tight">{{Route.Segment[0].Origin.Time| date:'h:mm a z'}}</h5>
                          <h4 class="blue tight">{{Route.Segment[0].Origin.Airport.Code}}</h4>
                        </div>

                        <div class="col-sm-2 col-sm-push-3 col-xs-6" style="padding:15px;">
                          <h5 class="dark-gray tight">{{Route.Segment[Route.Segment.length-1].Destination.Date | date}}</h5>
                          <h5 class="dark-gray tight">{{Route.Segment[Route.Segment.length-1].Destination.Time |
                            date:'h:mm a z'}}</h5>
                          <h4 class="blue tight">{{Route.Segment[Route.Segment.length-1].Destination.Airport.Code}}</h4>
                        </div>
                        <div class="col-sm-3 col-sm-pull-2  text-center " style="padding:15px;">
                          <h5 class=" tight"><b>Duration: </b>{{Route.Duration}} hr</h5>
                          <div class="border-bottom-flight  text-center"></div>

                          <h5 *ngIf="Route.Segment.length-1!=0;else NonStop" class=" tight">{{Route.Segment.length-1}}
                            Stop</h5>
                          <ng-template #NonStop>

                            <h5 class=" tight green">Non stop</h5>
                          </ng-template>
                        </div>

                      </div>

                    </div>
                  </div>

                </div>

                <ng-template #OneWayAndRoundTrip>
                  <div class="row padding-0 ">
                    <div class="row margin-0  overflow" style="margin-bottom: -5px;">
                      <div *ngIf="i=='0';else retunTemplate">
                        <div class="diagonal2">
                          <h4 style="margin: 3px;"><img src="../assets/img/fly from  copy.png"> Depature</h4>
                        </div>
                      </div>
                    </div>
                    <ng-template #retunTemplate>
                      <div class="diagonal2">
                        <h4 style="margin: 3px;"><img src="../assets/img/To copy.png"> Return</h4>
                      </div>
                    </ng-template>

                    <div class="itenery borderd-bottom">
                      <div class="row ">
                        <div class="col-sm-2 col-xs-6 borderd-right flight-logo">
                          <img src={{Route.Segment[0].Carrier.MarketingImage}} class="img-box-result">
                        </div>
                        <div class="col-sm-3 col-xs-6" style="padding: 25px 0 0 15px;">
                          <h4 class="dark-gray tight"> {{Route.Segment[0].Origin.Airport.City}}</h4>
                        </div>
                        <div class="col-sm-2 col-xs-6" style="padding:15px;">
                          <h5 class="dark-gray tight">{{Route.Segment[0].Origin.Date | date}}</h5>
                          <h5 class="dark-gray tight">{{Route.Segment[0].Origin.Time| date:'h:mm a z'}}</h5>
                          <h4 class="blue tight">{{Route.Segment[0].Origin.Airport.Code}}</h4>
                        </div>

                        <div class="col-sm-2 col-sm-push-3 col-xs-6" style="padding:15px;">
                          <h5 class="dark-gray tight">{{Route.Segment[Route.Segment.length-1].Destination.Date | date}}</h5>
                          <h5 class="dark-gray tight">{{Route.Segment[Route.Segment.length-1].Destination.Time |
                            date:'h:mm a z'}}</h5>
                          <h4 class="blue tight">{{Route.Segment[Route.Segment.length-1].Destination.Airport.Code}}</h4>
                        </div>
                        <div class="col-sm-3 col-sm-pull-2  text-center " style="padding:15px;">
                          <h5 class=" tight"><b>Duration: </b>{{Route.Duration}} hr</h5>
                          <div class="border-bottom-flight  text-center"></div>

                          <h5 *ngIf="Route.Segment.length-1!=0;else NonStop" class=" tight">{{Route.Segment.length-1}}
                            Stop</h5>
                          <ng-template #NonStop>

                            <h5 class=" tight green">Non stop</h5>
                          </ng-template>
                        </div>

                      </div>
                    </div>
                  </div>
                </ng-template>

              </div>

            </div>
            <div class="row borderd-top" style="padding:15px 0;">
              <div class="col-sm-6">
                <a class="h5 blue fl" href="javascript:void(0)">
                  <span class="fl blue" style="margin:5px;"> <b>LUGGAGES DETAILS</b></span> <span class="glyphicon glyphicon-menu-down fr drop-arrow"></span>
                </a>
              </div>
              <div class="col-sm-6">
                <a type="button " class="btn fr" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                  aria-controls="collapseBasic">
                  <span class=" blue" style="margin:5px;"> <b>FLIGHT DETAILS</b></span>
                  <span class="glyphicon fr drop-arrow" [class.glyphicon-menu-up]="isCollapsed"
                    [class.glyphicon-menu-down]="!isCollapsed" aria-hidden="true"></span>
                </a>
              </div>
            </div>
            <div id="collapseBasic" [collapse]="!isCollapsed" class="card card-block card-header">
              <div *ngFor="let Route of this.flightservice.selectedItenartyData[0].Routes; let i = index">
                <div *ngIf="this.flightservice.flightType=='multiCity';else   OneWayAndRoundTripDetails">
                  <div class="row margin-0 borderd-top">
                    <div class="col-md-12 ">

                      <div _ngcontent-c5="">
                        <h4 _ngcontent-c5="" class="fl">
                          <b class="blue">Depart</b>
                          <span class="dark-gray"> {{Route.Segment[0].Origin.Airport.City}} -
                            {{Route.Segment[Route.Segment.length-1].Destination.Airport.City}}</span> <span
                            _ngcontent-c5=""></span></h4>
                      </div>


                      <h4 class="fr">
                        <b>Total Duration:</b> {{Route.Duration}} hr
                      </h4>
                    </div>
                    <div *ngFor="let Seg of Route.Segment; let i = index">
                      <div class="col-md-12 ">
                        <div class="borderd-details row">

                          <div class="col-md-3">
                            <p>{{Seg.Origin.Date | date}} <span class="blue"> <b *ngIf="Seg.Carrier.Operating!=null;else retunmarktingTemplate">{{Seg.Carrier.Operating.Value}}</b></span>
                            </p>
                            <ng-template #retunmarktingTemplate>
                              <b>{{Seg.Carrier.Marketing.Value}}</b>
                            </ng-template>
                          </div>

                          <div class="col-md-6">
                            <p class="media-heading"><b> Takeoff: </b>{{Seg.Origin.Time| date:'h:mm a z'}}<span> —
                              </span><b>
                                Arrival:</b> {{Seg.Destination.Time| date:'h:mm a z'}}</p>
                            <p class="media-heading"><b>From: </b>{{Seg.Origin.Airport.City}}<span> — </span><b>To: </b>{{Seg.Destination.Airport.City}}</p>
                            <p><span><b>Flight number: </b>{{Seg.Flight.Number}}</span> <br> <b>{{Seg.Aircraft.Value}}</b><br>
                              <span><b>Aircraft code: </b> {{Seg.Aircraft.Code}}</span></p>
                          </div>
                          <div class="col-md-3">
                            <p> <span><b> Duration: </b> {{Seg.Flight.Duration}} hr</span> <br /> <span><b> Cabin type:</b>
                                {{Seg.Flight.CabinType}} </span><br /> <span><b>Class:{{Seg.Flight.Class}} </b></span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <ng-template #OneWayAndRoundTripDetails>
                  <div class="row margin-0 borderd-top">
                    <div class="col-md-12 ">
                      <div *ngIf="i=='0';else retunDetailsTemplate">
                        <div _ngcontent-c5="">
                          <h4 _ngcontent-c5="" class="fl">

                            <b class="blue">Depart</b>
                            <span class="dark-gray"> {{Route.Segment[0].Origin.Airport.City}} -
                              {{Route.Segment[Route.Segment.length-1].Destination.Airport.City}}</span> <span
                              _ngcontent-c5=""></span></h4>
                        </div>
                      </div>
                      <ng-template #retunDetailsTemplate>
                        <div _ngcontent-c5="">
                          <h4 _ngcontent-c5="" class="fl">

                            <b class="blue">Return</b>
                            <span class="dark-gray"> {{Route.Segment[0].Origin.Airport.City}} -
                              {{Route.Segment[Route.Segment.length-1].Destination.Airport.City}}</span> <span
                              _ngcontent-c5=""></span></h4>
                        </div>
                      </ng-template>
                      <h4 class="fr">
                        <b>Total Duration:</b> {{Route.Duration}} hr
                      </h4>
                    </div>
                    <div *ngFor="let Seg of Route.Segment; let i = index">
                      <div class="col-md-12 ">
                        <div class="borderd-details row">

                          <div class="col-md-3">
                            <p>{{Seg.Origin.Date | date}} <span class="blue"> <b *ngIf="Seg.Carrier.Operating!=null;else retunmarktingTemplate">{{Seg.Carrier.Operating.Value}}</b></span>
                            </p>
                            <ng-template #retunmarktingTemplate>
                              <b>{{Seg.Carrier.Marketing.Value}}</b>
                            </ng-template>
                          </div>

                          <div class="col-md-6">
                            <p class="media-heading"><b> Takeoff: </b>{{Seg.Origin.Time| date:'h:mm a z'}}<span> —
                              </span><b>
                                Arrival:</b> {{Seg.Destination.Time| date:'h:mm a z'}}</p>
                            <p class="media-heading"><b>From: </b>{{Seg.Origin.Airport.City}}<span> — </span><b>To: </b>{{Seg.Destination.Airport.City}}</p>
                            <p><span><b>Flight number: </b>{{Seg.Flight.Number}}</span> <br> <b>{{Seg.Aircraft.Value}}</b><br>
                              <span><b>Aircraft code: </b> {{Seg.Aircraft.Code}}</span></p>
                          </div>
                          <div class="col-md-3">
                            <p> <span><b> Duration: </b> {{Seg.Flight.Duration}} hr</span> <br /> <span><b> Cabin type:</b>
                                {{Seg.Flight.CabinType}} </span><br /> <span><b>Class:{{Seg.Flight.Class}} </b></span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>

            </div>



          </div>
        </div>
      </div>

    </div>

  </div>

  <app-flight-trip-summary></app-flight-trip-summary>

</div>

<app-footer></app-footer>