<div class="home-img">

    <app-menu-links></app-menu-links>
    <app-header></app-header>

</div>

<div class="row" style="margin-top:30px;">

    <div id="left-details">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <h3 class="dark-gray">Review your trip</h3>
                <p class="blue">Nice Job! You picked one of our cheapest flights </p>
                <div class="result-container">
                    <div class="flite-container">
                        <div class="col-md-12  padding-0  ">
                            <!-- <div *ngFor="let item of flightService.flightDetails.itineraryField"> -->

                                <div class="row padding-0 ">
                                    <div class="row margin-0">
                                        <div class="diagonal">
                                            <h4 style="margin: 3px;"><img src="../assets/img/fly from  copy.png">
                                                Departure</h4>
                                        </div>
                                    </div>
                                    <div class="itenery borderd-bottom">

                                        <div class="row " style="margin:15px;">
                                            <div class="col-sm-2 col-xs-6 borderd-right" style="padding:15px;">
                                                <img src="../assets/img/egyptAir.png" class="img-box-result">
                                            </div>
                                            <div class="col-sm-3 col-xs-6" style="padding:15px;">
                                                <!-- <h4 class="dark-gray">{{item.segmentField[0].OriginField.AirportField.cityField}}</h4> -->
                                            </div>
                                            <div class="col-sm-2 col-xs-6" style="padding:15px;">
                                                <h5 class="dark-gray">1:40 pm</h5>
                                                <h4 class="blue">CAI</h4>
                                            </div>
                                            <div class="col-sm-3 hidden-xs " style="padding:15px;">
                                                <div class="border-bottom  "></div>
                                            </div>
                                            <div class="col-sm-2 col-xs-6" style="padding:15px;">
                                                <h5 class="dark-gray">1:40 pm</h5>
                                                <h4 class="blue">aa</h4>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            <!-- </div> -->

                        </div>
                        <div class="row borderd-top" style="padding:15px 0;">
                            <div class="col-sm-6">
                                <a class="h5 blue fl" href="javascript:void(0)">
                                    <span class="fl blue" style="margin:5px;"> <b>LUGGAGES DETAILS</b></span> <span
                                        class="glyphicon glyphicon-menu-down fr drop-arrow"></span>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a type="button " class="btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                                    <span class=" blue" style="margin:5px;"> <b>FLIGHT DETAILS</b></span>
                                    <span class="glyphicon fr drop-arrow" [class.glyphicon-menu-up]="isCollapsed"
                                        [class.glyphicon-menu-down]="!isCollapsed" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>

                        <div id="collapseBasic" [collapse]="!isCollapsed" class="card card-block card-header">
                            <div class="row margin-0 borderd-top">
                                <div class="col-md-12 clearfix">
                                    <h4 class="fl"><b class="blue">Depart</b> <span class="dark-gray"> CAI - DXB</span></h4>
                                    <h4 class="fr">
                                        4h 55m
                                    </h4>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="borderd-details">
                                        <div class="media">
                                            <div class="media-left" style="width: 30%;">
                                                <p>Sun, Nov 11 <span class="blue"> <b>Egyptair</b></span> </p>
                                            </div>
                                            <div class="media-body">
                                                <p class="media-heading">1:40 pm<span> — </span>5:30 pm</p>
                                                <p class="media-heading">Cairo<span> — </span>Manama</p>
                                                <p>Gulf Air 70 · Narrow-Body Jet · Airbus A321-100/200</p>
                                            </div>
                                            <div class="media-right" style="width: 20%;">
                                                <p>Economy <span> 2h 50m</span> </p>
                                                <h3 class="orange">$370.21</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row margin-0 ">
                                <div class="col-md-12 clearfix">
                                    <h4 class="fl"><b class="blue">Depart</b> <span class="dark-gray"> CAI - DXB</span></h4>
                                    <h4 class="fr">
                                        4h 55m
                                    </h4>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="borderd-details">
                                        <div class="media">
                                            <div class="media-left" style="width: 30%;">
                                                <p>Sun, Nov 11 <span class="blue"> <b>Egyptair</b></span> </p>
                                            </div>
                                            <div class="media-body">
                                                <p class="media-heading">1:40 pm<span> — </span>5:30 pm</p>
                                                <p class="media-heading">Cairo<span> — </span>Manama</p>
                                                <p>Gulf Air 70 · Narrow-Body Jet · Airbus A321-100/200</p>
                                            </div>
                                            <div class="media-right" style="width: 20%;">
                                                <p>Economy <span> 2h 50m</span> </p>
                                                <h3 class="orange">$370.21</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>

    <app-flight-trip-summary></app-flight-trip-summary>

</div>

<app-footer></app-footer>