

<div class="mount">
  <img src="../assets/img/Mount.png">
  <h2>CHOOSE YOUR EXPERIENCE</h2>
  <h4 class="orange">DISCOVER TRAVEL THAT STIRS YOUR SOUL</h4>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-7 padding-15">
      <div class="hover02">
        <figure><img src="../assets/img/Layer 2.jpg" /></figure>
        <div class="white thum-text">
            <h3>Winter tour to Kamchtaka</h3>
            <p>Snowmobile trips to the volcanoes
                Watching sea lions, dog sledding
                Hot Springs</p>
                <a href="#" class="white">View more</a>
                <div class="sm-line"></div>

        </div>
      </div>
    </div>
    <div class="col-md-5 padding-15">
      <div class="hover02">
        <figure><img src="../assets/img/Layer 3.jpg" /></figure>
        <div class="white thum-text">
            <h3>Winter tour to Kamchtaka</h3>
            <p>Snowmobile trips to the volcanoes
                Watching sea lions, dog sledding
                Hot Springs</p>
                <a href="#" class="white">View more</a>
                <div class="sm-line"></div>

        </div>
      </div>
    </div>
    <div class="col-md-5 padding-15">
      <div class="hover02">
        <figure><img src="../assets/img/Layer 3.jpg" /></figure>
        <div class="white thum-text">
            <h3>Winter tour to Kamchtaka</h3>
            <p>Snowmobile trips to the volcanoes
                Watching sea lions, dog sledding
                Hot Springs</p>
                <a href="#" class="white">View more</a>
                <div class="sm-line"></div>

        </div>
      </div>
    </div>
    <div class="col-md-7 padding-15">
        <div class="hover02">
          <figure><img src="../assets/img/Layer 2.jpg" /></figure>
          <div class="white thum-text">
              <h3>Winter tour to Kamchtaka</h3>
              <p>Snowmobile trips to the volcanoes
                  Watching sea lions, dog sledding
                  Hot Springs</p>
                  <a href="#" class="white">View more</a>
                  <div class="sm-line"></div>
  
          </div>
          
        </div>
      </div>


      <div class="col-md-4 padding-15">
          <div class="hover02">
              <figure><img src="../assets/img/layer 4.jpg" /></figure>
              <div class="white thum-text">
                <h3>Winter tour to Kamchtaka</h3>
                <p>Snowmobile trips to the volcanoes
                    Watching sea lions, dog sledding
                    Hot Springs</p>
                    <a href="#" class="white">View more</a>
                    <div class="sm-line"></div>
    
            </div>
          </div>
        </div>
        <div class="col-md-4 padding-15">
            <div class="hover02">
                <figure><img src="../assets/img/layer 4.jpg" /></figure>
              <div class="white thum-text">
                  <h3>Winter tour to Kamchtaka</h3>
                  <p>Snowmobile trips to the volcanoes
                      Watching sea lions, dog sledding
                      Hot Springs</p>
                      <a href="#" class="white">View more</a>
                      <div class="sm-line"></div>
      
              </div>
            </div>
          </div>
          <div class="col-md-4 padding-15">
              <div class="hover02">
                <figure><img src="../assets/img/layer 4.jpg" /></figure>
                <div class="white thum-text">
                    <h3>Winter tour to Kamchtaka</h3>
                    <p>Snowmobile trips to the volcanoes
                        Watching sea lions, dog sledding
                        Hot Springs</p>
                        <a href="#" class="white">View more</a>
                        <div class="sm-line"></div>
        
                </div>
              </div>
            </div>
        


  </div>
  
<div class="col-md-12 text-center" style="margin:20px 0 50px 0;">
    <button type="submit" class="btn btn-orange">View more</button>
</div>

</div>

