<div id="right-details" class="text-center">
    <div class="filter-container">
        <div>
            <h2 class="text-center blue ">
                Trip Summary
            </h2>
            <div class="border-bottom row"></div>
            <div class="row">
                <h5 class="fl blue"><b>{{ this.flightservice.flightType}}</b></h5>
                <p class="fr dark-gray" style="margin-top: 8px;"> ticket:{{this.numberOfTickets}} </p>
            </div>
            <div class="row">
                <h5 class="fl blue"><b>{{this.flightservice.flightDetails.fareDetailsField.paxFareField[0].baggageAllowanceField[0].segmentField.originField.airportField.cityField}}
                        ({{this.flightservice.flightDetails.fareDetailsField.paxFareField[0].baggageAllowanceField[0].segmentField.originField.airportField.codeField}})
                        to
                        {{this.flightservice.flightDetails.fareDetailsField.paxFareField[0].baggageAllowanceField[0].segmentField.destinationField.airportField.cityField}}
                        ({{this.flightservice.flightDetails.fareDetailsField.paxFareField[0].baggageAllowanceField[0].segmentField.destinationField.airportField.codeField}})</b></h5>
                <p class="fr dark-gray" style="margin-top: 8px;">Airline:<span>
                        {{this.flightservice.flightDetails.fareDetailsField.validatingCarrierField.valueField}}</span></p>
            </div>
            <div *ngIf="this.flightservice.flightType!='oneWay';else  RoundTripAndMulti">

                <div class="row">
                    <h5 class="fl dark-gray"><b>{{this.flightservice.flightDetails.fareDetailsField.paxFareField[0].baggageAllowanceField[0].segmentField.originField.dateField
                            | date}}
                            -{{this.flightservice.flightDetails.fareDetailsField.paxFareField[0].baggageAllowanceField[1].segmentField.originField.dateField
                            | date}} </b></h5>
                    <p class="fr dark-gray" style="margin-top: 8px;">Class: <span> Economy</span></p>
                </div>
            </div>
            <ng-template #RoundTripAndMulti>
                <div class="row">
                    <h5 class="fl dark-gray"><b>{{this.flightservice.flightDetails.fareDetailsField.paxFareField[0].baggageAllowanceField[0].segmentField.originField.dateField
                            | date}} </b></h5>
                    <p class="fr dark-gray" style="margin-top: 8px;">Class: <span> Economy</span></p>
                </div>
            </ng-template>


            <div class="row">
                <h5 class="fl dark-gray"><b>Baggage allowance:</b>
                    {{this.flightservice.flightDetails.fareDetailsField.paxFareField[0].baggageAllowanceField[0].baggageField.allowedField}}</h5>
            </div>
            <div class="border-bottom row"></div>

            <div class="row">
                <h5 class="fl blue"><b>Traveler ( Adult: {{this.flightservice.numberOfAdult}} - Childs:
                        {{this.flightservice.numberOfChilds}})</b></h5>
            </div>
            <div class="row">
                <h5 class="fl dark-gray"><b>Flight</b></h5>
                <p class="fr dark-gray" style="margin-top: 8px;">{{this.flightservice.flightDetails.priceField.amountField}}
                    {{this.flightservice.flightDetails.priceField.currencyField}}</p>
            </div>
            <div class="row">
                <h5 class="fl dark-gray"><b>Taxes &amp; Fees</b></h5>
                <p class="fr dark-gray" style="margin-top: 8px;">0</p>
            </div>
            <div class="row">
                <h5 class="fl dark-gray"><b>Booking Fee</b></h5>
                <p class="fr dark-gray" style="margin-top: 8px;">0</p>
            </div>
            <div class="border-bottom row"></div>
            <div class="row">
                <h3 class="fl dark-gray"><b>Total trip</b></h3>
                <h3 class="fr dark-gray">{{this.flightservice.flightDetails.priceField.amountField}}
                    {{this.flightservice.flightDetails.priceField.currencyField}}</h3>
            </div>
            <div class="row">
                <h5 class="dark-gray"><b>Rates ar.e quoted in
                        {{this.flightservice.flightDetails.priceField.currencyField}}</b></h5>

            </div>

            <div class="border-bottom row"></div>
            <div *ngIf="!this.flightservice.flightDetails.fareDetailsField.nonRefundableFieldSpecified;else NOnRefundableTemplate">
                <p class="dark-gray">
                    Refundable
                </p>
            </div>

            <ng-template #NOnRefundableTemplate>
                <p class="dark-gray">
                    NOn Refundable
                </p>
            </ng-template>


            <div class="row text-center">
                <div *ngIf="this.flightservice.acceptTerms;else disabledButtton">
                    <button class="btn btn-orange" (click)="continueBooking()">Continue Booking</button>
                </div>
                <ng-template #disabledButtton>
                    <button class="btn btn-orange" disabled>Continue Booking</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>