<div class="container-fluid nav-head">
    <div class="container">
      <div class="row">
        <div>
          <a class="navbar-brand" href="#"> <img src="../assets/img/Tour To logo.png" alt="" class="logo"> </a>
        </div>
        <div class="float-right">
  
          <div>
            <div class="btn-group bord-profile">
              <img src="../assets/img/avt8.jpg" alt="" class="profile-pic float-left">
              <div class="white " style="white-space:nowrap;">
  
                <div class="btn-group " dropdown>
                  <a id="button-basic" dropdownToggle type="button" class="  orange dropdown-toggle" aria-controls="dropdown-basic">
                    Login as</a>&nbsp;mohamed ahmed
               
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu2" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Login with another account</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                  </ul>
                </div>
               
                <br>
                <a href="#" class="white a-white"><span></span>250points</a>&nbsp;
                <a href="#" class="orange a-white">Sign out</a>
              </div>
            </div>
  
            <div class="btn-group bord" dropdown>
              <a id="button-basic" dropdownToggle type="button" class="  lang dropdown-toggle" aria-controls="dropdown-basic">
                USD <span class="caret"></span>
              </a>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu2" role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="#">USD</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">UAE</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">EGP</a></li>
              </ul>
            </div>
            <div class="btn-group bord" dropdown>
              <a id="button-basic" dropdownToggle type="button" class="lang dropdown-toggle" aria-controls="dropdown-basic">
                {{languageService.currentLanguageNativeName}} <span class="caret"></span>
              </a>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu2" role="menu" aria-labelledby="button-basic">
                <li role="menuitem" *ngFor="let item of languages">
                  <a class="dropdown-item" (click)="setLanguage(item)">{{item.NativeName}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>